h1 {
  text-align: center;
  font-size: 3em;
  font-family: 'Titillium Web', sans-serif;
  font-weight: lighter;
}

body {
  background-color: #d9d9d9;
}

form {
  text-align: center;
  font-size: 1em;
  font-family: 'Titillium Web', sans-serif;
  font-weight: lighter;
}

.button {
  padding: .5em .75em;
  font-size: 1em;
  background-color: #e6faff;
  text-decoration: none;
  border: 1.5px solid #4d4d4d;
  font-family: 'Titillium Web', sans-serif;
  font-weight: lighter;
  border-radius: 4px;
}

.text {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #999999;
  border-radius: 4px;
  box-sizing: border-box;
}
